#contact-form-main-container {
    padding: 10px;
}

#contact-from-container {
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 5px 0px gray;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#form-heading-h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px 0px;
    padding: 5px;
    text-align: center;
}

#heading-paragraph {
    margin: 10px 0px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#firstLast-container {
    display: flex;
    flex-wrap: nowrap;
}

.labelBox-container-50,
.labelBox-container-100 {
    display: flex;
    width: 100%;
    padding: 5px;
    text-align: left;
    flex-direction: column;
    flex-wrap: nowrap;
}
#firstName,#lastName{
}

.labelBox-container label {
    margin: 8px 0px;
    letter-spacing: 1px;
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid lightgray;
    outline: none;
    text-transform: capitalize;
    color: gray;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input[type='email'] {
    text-transform: lowercase;
}

#contact-form-subBtn-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

#contactSubmit {
    margin: 15px 0px;
    border-radius: 5px;
    color: whitesmoke;
    background-color: #4681f4;
    width: 50%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media (max-width: 768px) {
    /* Adjust styling for screens up to 768px wide */
    .labelBox-container-50,
    .labelBox-container-100 {
        width: 100%;
    }

    input,
    textarea {
        width: 100%;
    }

    #contactSubmit {
        width: 100%;
    }
}