#footer-main-container{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
padding: 5px 0;
background-color: #232F3E;
}

#footer-container{
    width: 90%;
}
#footer-container-part-one{
display: flex;
flex-wrap:nowrap;
padding: 10px 10px;
border-bottom: 1px solid whitesmoke;
}
.footer-part-one-heading{
display: flex;
align-items: center;

}
.footer-part-one-heading h2{
    margin: 0;
    color:whitesmoke;
    display: block;
    font-weight: 700;
    letter-spacing: 3px;
    font-family: sans-serif;

}

.footer-part-one-icons{
    width: 100%;
    padding: 5px 5px;

}
#part-one-logo-ul-container{
    list-style: none;
    padding-left: 0;
    margin:0;
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;

}
#footer-social-icon-link{
    list-style: none;
    font-size: 24px;
    display: block;
    color:whitesmoke;
    padding: 5px 8px;

}
.footer-table-link{
  list-style: none;
  color:whitesmoke;
  font-size: 14px;
  text-transform: capitalize;
  text-decoration: none;
}

#footer-table-ul-list{
    list-style: none;
    padding-left: 0;
    padding:5px;
}
.footer-table-ul-head{
    color: whitesmoke;
    font-size: 22px;
    text-transform:capitalize;
}
.footer-table-li-list-items{
    padding: 8px 0px;
    letter-spacing:1.5px;
}
#footer-container-part-two{
    padding: 10px;
    display: flex;
    justify-content:space-between;
}
#footer-copy-write-container{
    padding: 5px 8px;
}
#footer-copy-write-container p{
    color:whitesmoke;
    margin: 0;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
}

@media (max-width: 768px) {

    #footer-container-part-one{
        flex-wrap: wrap;
    }
    .footer-part-one-heading{
        justify-content: center
    }
   
    .part-one-class-container {
        width: 100%;
        display: none;
    }
    .footer-part-one-icons{
        width: 100%;

    }
}
