#heading-text-container{
border: 5px solid whitesmoke;
background-color:#232F3E;
padding: 12px 0;
color: whitesmoke;
text-align: center;
align-items: center;
display: flex;
}
#heading-text-h1{
    font-family: 'Abril Fatface', serif;
    letter-spacing: 3px;
    padding: 10px 0;
    width: 100%;
    font-size: 45px;
    margin: 0;
    height: 100%;
}
