#heading-text-container{
border: 5px solid whitesmoke;
padding: 20px;
background-color:#232F3E;
color: whitesmoke;
text-align: center;
}
#heading-text-h1{
    font-family: 'Abril Fatface', serif;
    letter-spacing: 3px;
    font-size:45px;
}