#card-design-main-container{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
#card-design-container{
    padding: 15px;
    width: 85%;
    box-shadow: 0px 0px 5px 0px gray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  
}
#card-image-container{
    padding: 10px;
    
}
#card-image{
    border-top-right-radius:5px;
    border-top-left-radius:5px;

}

#card-project-info{
    padding: 12px;
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#card-project-info p{
    font-size: 14px;
}
#card-ul-list{
    text-decoration: none;
    list-style: none;
    padding: 10px;
    
}
.card-list-item{
    text-align:left;
    font-family: sans-serif;
    padding: 5px;
    margin: 5px 0px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#card-project-link-btn-container{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
#card-button-link {
    display: block;
    background-color: #0B5ED7;
    color: whitesmoke;
    height: 45px;
    width: 180px;
    font-size: 1rem; /* Use 'rem' for font-size too */
    border-radius: 5px;
  }
  
  #card-button-show-code {
    display: block;
    background-color: black;
    color: whitesmoke;
    height: 45px;
    width: 120px;
    font-size: 1rem; /* Adjust font size as needed */
    border-radius: 5px;
  }
  
  @media (max-width:1068px){
    #card-design-container{
        width: 95%;
    }
  }